/*
Colors used:
Primary Color (Grey): ##EEF1F1;
Primary Color (Dark Grey): #333333
Secondary Color (Yellow): #F8C762;
Secondary Color (White): #FFFFFF

Typography used: Libre Franklin
*/

header {
    font-family: 'Libre Franklin', sans-serif;
  }

  body {
    font-family:'Libre Franklin', sans-serif;
    font-size: 16px;
    color: #333333;
  }
  h1 {
    font-weight: 500;
    font-size: 2.75em;
  }
  h2 {
    font-weight: 300;
    font-size: 2.25em;
  }
  h3 {
    font-weight: 200;
    font-size: 1.75em;
  }
  p  {
    font-weight: 100;
    font-size: 1.35em;
  }
  ul {
    font-weight: 100;
    font-size: 1.35em;
  }
  a {
    color: #333333;
    text-decoration: none; /* No underlining */
  }
  a:visited { /* visited link */
    color: #897c7c;
  }
  a:hover {
    color: #F8C762;
    text-decoration: underline; /* Underlining when hovering over a link */
  }
  a:active { /* selected link */
    color: #a9a59c;
  }