/*
Colors used:
Primary Color (Grey): #EEF1F1;
Primary Color (Dark Grey): #333333
Secondary Color (Blue): #4A64EB
Secondary Color (Yellow): #F8C762;
Secondary Color (White): #FFFFFF
Typography used: Libre Franklin
*/
/* Layout styling */

* {
  box-sizing: border-box;
}
.container {
  padding: 0 15px;
}
  header {
    font-family: 'Libre Franklin', sans-serif;
    padding: 10px 0;
    margin: 10px;
    position:relative;
    background-color: #333333;
  }
  header .container {
    display: flex;
    justify-content: space-between;
  }
  body {
    font-family:'Libre Franklin', sans-serif;
    background-color:#EEF1F1;
    font-size: 18px;
    color: #333333;
  }
  h1 {
    font-weight: 500;
    font-size: 2.5em;
    text-align: center; /* Centers text */
  }
  #hero h1 span {
    display:block
  }
  #hero {
    padding: 20px 0;
    display: inline-block;
    width: 100%;
  }
  h2 {
    font-weight: 300;
    font-size: 2.25em;
    text-align: center; /* Centers text */
  }
  h3 {
    font-weight: 200;
    font-size: 1.75em;
  }
  p  {
    font-weight: 100;
    font-size: 1.35em;
  }
  img {
    width: 100%;
  }  
  ul {
    font-weight: 100;
    font-size: 1.35em;
  }
  a {
    color: #7181d4;
    text-decoration: none; /* No underlining */
  }
  a:visited { /* visited link */
    color: #c9c3c3;
  }
  a:hover,
  a:focus {
    color: #F8C762;
    text-decoration: underline;
  }
  /* Underlining when hovering over a link */
  a:active { /* selected link */
    color: #a9a59c;
  }
  .row {
    margin: 25px 0; /* 25px top and bottom, 0 left and right */
  }
  .button {
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: #4A64EB;
    color: #ffffff; /* needed to override the default link color */
    font-weight: 400;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #2d45bd; /* width of the border, type, color */
    transition-duration: 0.2s;
    transition-property: opacity;
  }
  .button:hover {
    opacity: 0.8; /* Reduces the opacity of the button to 80% */
    text-decoration: underline;
  }
  .button:active {
    color: #95938d;
  }
  .intro {
    color: #ffffff;
}
.logo {
  max-width: 150px;
  width: auto;
}
nav > ul > li {
  display: inline-block;
  padding: 0 15px;
}
nav > ul {
  list-style-type: none;
  padding: 0 15px;
}
#icon {
  display: inline-block;
  width: 2.5%;
}
#sharpenup {
  display: inline-block;
  width: 100%;
}
#me {
  display: block;
  width: 40%;
}
[class*="col-"] {
  float: left;
  padding: 15px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 641px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }
  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
  .col-md-6 {
    width: 50%;
  }
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}

@keyframes color-change {
  from {fill: #edc655;}
  to {fill: #f76414;}
}
.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}
.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}
.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}